@model DMS.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<div class="container">
    <ul class="breadcrumb">
        <li><a href="#">Change Password</a></li>
        <li><a href="#">Dashboard</a></li>
    </ul>
    <hr />
    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "ChangePassword" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-4 control-label" })
                            <div class="col-md-6">
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                            <div class="col-md-6">
                                <div id="myPassword"></div>
                                @*@Html.PasswordFor(m => m.Password, new { @class = "form-control" })*@
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                            <div class="col-md-6">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-6">
                                <button class="btn btn-success" type="submit">
                                    <i class="fa fa-key"></i>
                                    Change Password
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>

    </div>
</div>

<script src="~/Scripts/PasswordJqueryValidation.js"></script>
