<!DOCTYPE html>
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- start: HEAD -->
<head>
    <title>@ViewBag.Title</title>
    <!-- start: META -->
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- end: META -->
    <!-- start: MAIN CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/font-awesome/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/animate.css/animate.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/iCheck/skins/all.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/styles.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/styles-responsive.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/iCheck/skins/all.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/site.css")">
    <link rel="stylesheet" href="@Url.Content("~/" + ViewHelper.TenantFile("content/css/theme.css"))" type="text/css">
    <link href="~/Content/assets/css/password_strength/password_strength.css" rel="stylesheet" />

    <!--[if IE 7]>
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/font-awesome/css/font-awesome-ie7.min.css")">
    <![endif]-->
    <!-- end: MAIN CSS -->
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
</head>
<!-- end: HEAD -->
<!-- start: BODY -->
<body class="login">
    <div class="row">
        <div>
            @RenderBody()
        </div>

    </div>

    <!-- start: MAIN JAVASCRIPTS -->
    <!--[if lt IE 9]>
    <script src="@Url.Content("~/Content/assets/plugins/respond.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/plugins/excanvas.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/plugins/jQuery/jquery-1.11.1.min.js")"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="@Url.Content("~/Content/assets/plugins/jQuery/jquery-2.1.1.min.js")"></script>
    <!--<![endif]-->
    <script src="@Url.Content("~/Content/assets/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/plugins/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/plugins/iCheck/jquery.icheck.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/plugins/jquery.transit/jquery.transit.js")"></script>
    <script src="@Url.Content("~/Content/assets/plugins/TouchSwipe/jquery.touchSwipe.min.js")"></script>
    <!-- end: MAIN JAVASCRIPTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="@Url.Content("~/Content/assets/plugins/jquery-validation/dist/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/login.js")"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    @*for password strength*@
    <script src="~/Scripts/password_strength.js"></script>
    <script src="~/Scripts/password_strength_lightweight.js"></script>
    <script src="~/Scripts/PasswordJqueryValidation.js"></script>

    <script>
        jQuery(document).ready(function () {
            //Main.init();
            Login.init();
        });
    </script>

    <script>
        $(document).ready(function ($) {
            $('#myPassword').strength_meter();
        });
    </script>
</body>
<!-- end: BODY -->
</html>

