@model IEnumerable<DMS.DAL.DatabaseContext.req01service_requests>


<div class="form-horizontal">
    @using (Html.BeginForm("Search", null, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="panel panel-default collapse" id="searchData">
            <div class="panel panel-heading">Filter Panel</div>
            <div class="panel-body">
                <div class="form-group space">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.Label("Customer Print Name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.Editor("req03print_name", new { htmlAttributes = new { @class = "form-control", @Name = "req03print_name" } })

                        @*@Html.DropDownList("req03print_name", null, "Select", htmlAttributes: new { @class = "form-control search-select", @Name = "req03print_name" })*@
                    </div>

                    @Html.Label("Card no:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="card01code" />
                    </div>
                </div>
                <div class="row form-group">
                    @Html.Label("From", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.Editor("fromDate", new { htmlAttributes = new { @class = "form-control datepicker", @Name = "StartDate" } })
                    </div>


                    @Html.Label("To", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.Editor("endDate", new { htmlAttributes = new { @class = "form-control datepicker", @Name = "EndDate" } })
                    </div>
                </div>
                <div class="row form-group">
                    @Html.Label("Account No:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.Editor("req03account_no", new { htmlAttributes = new { @class = "form-control", @Name = "req03account_no" } })
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-search">
                                </i>
                                Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }


    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="table-responsive col-md-12">
                        <table class="table  table-striped table-hover table-bordered dataTable">
                            <thead>
                                <tr>
                                    <th class="center">SN</th>
                                    <th class="center">
                                        @Html.DisplayNameFor(model => model.req01ref_code)
                                    </th>
                                    <th class="center">Card no.</th>
                                    <th>@Html.DisplayNameFor(model => model.req01is_supplementary)</th>
                                    <th class="center">OD Card</th>
                                    <th class="center">
                                        @Html.DisplayNameFor(model => model.req03debit_card_requests.req03account_no)
                                    </th>
                                    <th class="center">
                                        @Html.DisplayNameFor(model => model.req03debit_card_requests.req03print_name)
                                    </th>
                                    <th class="center">
                                        Batch no.
                                    </th>
                                    <th class="center">
                                        Branch
                                    </th>
                                    <th class="center">
                                        @Html.DisplayNameFor(model => model.req01cust_app_date)
                                    </th>
                                    <th class="center">
                                        Branch Received Date
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int sn = 0;}
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        if (ViewBag.branch == null || ViewBag.branch == item.bra01branches.bra01name)
                                        {
                                            sn++;
                                            <tr>
                                                <td class="center">
                                                    @sn
                                                </td>
                                                <td class="center">
                                                    <a href="Details/@item.req01uin">@Html.DisplayFor(modelItem => item.req01ref_code)</a>
                                                </td>
                                                <td class="center">
                                                    @(item.req03debit_card_requests.card01overall_cards?.card01code)
                                                </td>
                                                <td>
                                                    @if (item.req01is_supplementary)
                                                    {
                                                        <span class="label label-sm label-success">Yes</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="label label-sm label-danger">No</span>
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.req03debit_card_requests.req03is_od_card)
                                                    {
                                                        <span class="label label-sm label-success">Yes</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="label label-sm label-danger">No</span>
                                                    }
                                                </td>
                                                <td class="center">
                                                    @Html.DisplayFor(modelItem => item.req03debit_card_requests.req03account_no)
                                                </td>
                                                <td class="center">
                                                    @item.req03debit_card_requests.req03print_name
                                                </td>
                                                <td class="center">
                                                    @(item.req03debit_card_requests.card01overall_cards != null ? item.req03debit_card_requests.card01overall_cards.card01batch_no : "")
                                                </td>
                                                <td class="center">
                                                    @item.bra01branches.bra01name
                                                </td>
                                                <td class="center">
                                                    @ViewHelper.GetDate(item.req01cust_app_date)
                                                </td>
                                                <td class="center">
                                                    @ViewHelper.GetDate(item.req03debit_card_requests.req03updated_date)
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
