@model DMS.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="login row">
        <div class="main-login col-xs-12 col-xs-offset-2 col-sm-6 col-sm-offset-3">
            <!-- start: LOGIN BOX -->
            <div class="row padBox">
                <div class="col-sm-6">
                    <div class="thumbnail">
                        <img width="200px" src="@Url.Content("~/" + ViewHelper.TenantFile("Content/Images/logo.jpg"))" class="img-responsive" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="">
                        <h3 align="center">
                            Main Project
                        </h3>
                        @Html.Raw(FlashBag.showMessage())
                        <form class="form-login" action="index.html">
                            <fieldset>
                                <div class="">
                                    <div class="">
                                        <label class="">Enter Registered UserName</label>
                                        <span class="input-icon">
                                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control required", @placeholder = "UserName" } })
                                            <i class="fa fa-user"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-sm-5 text-right">
                                            <a href="@Url.Action("Login","Account")" class="btn btn-info btn-block">
                                                <i class="fa fa-arrow-circle-left"></i> Back
                                            </a>
                                        </div>
                                        <div class="col-sm-5 pull-right">
                                            <button type="submit" class="btn btn-success btn-block">
                                                Continue <i class="fa fa-arrow-circle-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <!-- start: COPYRIGHT -->
                        <div class="copyright" style="color:black;">
                            Copyright &copy; @DateTime.Now.Year @(ViewHelper.LoginCompanyName). All rights reserved.
                        </div>
                        <!-- end: COPYRIGHT -->
                    </div>
                </div>

            </div>
            <!-- end: LOGIN BOX -->
            <!-- start: FORGOT BOX -->
        </div>

        <div id="bg_bottom_login" class="">

        </div>

    </div>

}
