@model DMS.Models.ForgotPasswordViewModel

@using DMS.DAL.StaticHelper;
@{
    ViewBag.Title = "Forgot Password Confiramtion";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@using (Html.BeginForm("ForgotPasswordConfirmation", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="login row">
        <div class="main-login col-xs-12 col-xs-offset-2 col-sm-6 col-sm-offset-3">
            <!-- start: LOGIN BOX -->
            <div class="row padBox">
                <div class="col-sm-6">
                    <div class="thumbnail">
                        <img width="200px" src="@Url.Content("~/" + ViewHelper.TenantFile("Content/Images/logo.jpg"))" class="img-responsive" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="">
                        <h3 align="center">
                            Main Project
                        </h3>
                        @Html.Raw(FlashBag.showMessage())
                        <form class="form-login" action="index.html">
                            <fieldset>
                                <hr />
                                <div class="">
                                    <span class="text-bold">Please check your email for a message with your code. Your code is 6 numbers long.</span>
                                    <span class="input-icon">
                                        <input type="hidden" value="@Model.UserName" name="UserName" />
                                        <input class="form-control" type="text" name="Code" placeholder="Enter Code" />
                                        <i class="fa fa-mail-forward"></i>
                                    </span>
                                </div>
                                <hr />
                                <div class="col-md-12 no-padding">
                                    <div class="" style="background:#e7e5e5;">
                                        <div style="border:5px;line-height: 25px;padding:10px;">
                                            <a href="@Url.Action("ForgotPassword","Account")">Didn't get a code?</a>
                                            <div class="pull-right">
                                                <div class="col-md-6">
                                                    <button type="submit" class="btn btn-xs btn-primary">
                                                        <i class="fa fa-check"></i> Continue
                                                    </button>
                                                </div>
                                                <div class="col-md-6 pull-right">
                                                    <a href="@Url.Action("Login","Account")" type="submit" class="btn btn-xs btn-danger">
                                                        <i class="fa fa-times"></i> Cancel
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <!-- start: COPYRIGHT -->
                        <div class="copyright" style="color:black;">
                            Copyright &copy; @DateTime.Now.Year @(ViewHelper.LoginCompanyName). All rights reserved.
                        </div>
                        <!-- end: COPYRIGHT -->
                    </div>
                </div>

            </div>
            <!-- end: LOGIN BOX -->
            <!-- start: FORGOT BOX -->
        </div>

        <div id="bg_bottom_login" class="">

        </div>

    </div>

}

