@model DMS.Models.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Reset password";
}

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "ChangePassword" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" value="@Model.UserName" name="UserName" />

    <div class="login row">
        <div class="main-login col-xs-12 col-xs-offset-2 col-sm-6 col-sm-offset-3">
            <!-- start: LOGIN BOX -->
            <div class="row padBox">
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img width="200px" src="@Url.Content("~/" + ViewHelper.TenantFile("Content/Images/logo.jpg"))" class="img-responsive" />
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="">
                        <h3 align="center">
                            Main Project
                        </h3>
                        @Html.Raw(FlashBag.showMessage())
                        <br />
                        <fieldset>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    <div id="myPassword"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control required" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="pull-right">
                                        <button type="submit" class="btn btn-success" id=""><i class="fa fa-check"></i> Submit</button>
                                        <a href="@Url.Action("ForgotPassword","Account")">Request another code?</a>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <!-- start: COPYRIGHT -->
                        <div class="copyright" style="color:black;">
                            Copyright &copy; @DateTime.Now.Year @(ViewHelper.LoginCompanyName). All rights reserved.
                        </div>
                        <!-- end: COPYRIGHT -->
                    </div>
                </div>

            </div>
            <!-- end: LOGIN BOX -->
            <!-- start: FORGOT BOX -->
        </div>

        <div id="bg_bottom_login" class="">

        </div>

    </div>



}

